@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bdaa96;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .body-calc {
        position: fixed;
        margin: 0;
        padding: 10px;
    }
    .calc-screen {
        width: 100%;
        height: 150px;
    }
    .op-screen, .type-screen {
        width: 100%;
    }
    .button-row, .button-row-top {
        flex-direction: column;
        align-items: center;
    }
    
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 400px;
}

.body-calc {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 440px;
    margin: 100px;
    background: #9979b6;
    border: solid 3px #9374af;
    border-radius: 28px;
    box-shadow: 0 5px 15px -1px #5d4672;
    padding-bottom: 10px;
}

.calc-screen {
    width: 400px;
    height: 195px;
    background-color: #cbb4e0;
    border-radius: 17px;
    margin: 20px;
    margin-left: 17px;
    margin-bottom: 30px;
    border-bottom: #835aa7;
}

.op-screen {
    width: auto;
    height: 28px;
    text-align: right;
    font-family: 'Borel', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    background-color: #d7c2eb;
    color: #8566a0a4;
    border: none;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: none;
    padding: 3px;
    padding-right: 14px;
    padding-top: 10px;
    border-bottom: dotted 2px;
}

.type-screen {
    width: 376px;
    height: 60px;
    text-align: right;
    font-family: 'Borel', cursive;
    font-size: 442%;
    color: #835aa7;
    background-color: #cbb4e0;
    border: none;
    padding-right: 24px;
    padding-top: 62px;
    padding-bottom: auto;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: auto;
    height: 70px;
    padding: 4px;
    margin: 5px;
    margin-left: 17px;
    margin-right: 17px;
    background-color: #d7c2eb;
    border-radius: 17px;
    border-right: solid 2px #835aa7;
    border-bottom: solid 2px #835aa7;
    /*transition: all 0.2s ease-in-out;*/
}

.button-number, .button-operator {
    display: flex;
    background-color: #d7c2eb;
    color: #383085;
    justify-items: center;
    align-items: center;
    font-family: 'Borel', cursive;
    font-weight: 400;
    font-size: 42px;
    border-radius: 10px;
    border: none;
    width: max-content;
    cursor: pointer;
    padding: 26px;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    transition: background-color 0.4s;
    transition: all 0.4s ease;
}

.button-row-top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: auto;
    height: auto;
    padding: 4px;
    margin: 9px;
    margin-left: 17px;
    margin-right: 17px;
    background-color: #d7c2eb;
    border-radius: 17px;
    border-right: solid 2px #835aa7;
    border-bottom: solid 2px #835aa7;
    /*transition: all 0.2s ease-in-out;*/
}

.button-top {
    display: flex;
    background-color: #d7c2eb;
    color: #383085;
    justify-items: center;
    align-items: center;
    font-family: 'Borel', cursive;
    font-weight: 400;
    font-size: 38px;
    border-radius: 10px;
    border: none;
    height: 20px;
    width: min-content;
    cursor: pointer;
    padding: 26px;
    padding-bottom: 15px;
    padding-top: 45px;
    padding-left: auto;
    padding-right: auto;
    transition: background-color 0.4s;
    transition: all 0.4s ease;
}

.button-number:hover, .button-operator:hover, .button-top:hover {
    transform: scale(0.8);
    background-color: #bda3d6;

}
